/* #Event_teams_table tbody tr:hover td{
    background-color: rgb(200,200,200) !important;
} */

.side_page{
  display: inline-block;
  width: 80%;
  min-width: 800px;
}

.inner {
  display: inline-block;
  margin: 0 auto;
}

.side_list{
  width: 20%;
  float: right;
}
